.login-form-button {
  width: 100%;
  background: #EFE95E;
  color: black;
  border: #EFE95E;
  font-weight: 500;
}
.login-form-button:hover {
  background: #fff852;
  color: black;
  font-weight: 500;
}
.login-form-input-label {
  margin: 0;
  padding-left: 10px;
  font-weight: 500;
}
.login-form-preloader {
  margin: 0;
  padding-bottom: 15px;
  text-align: center;
  color: red;
  font-weight: 500;
}