.login-form {
  .input-label {
    display: block;
    margin: 0;
    font-weight: 500;
  }

  .login-button {
    width: 100%;
    border: #EFE95E;
    background: #EFE95E;
    color: black;
    font-weight: 500;
  }
  .login-button:hover {
    background: #fff852;
    color: black;
    font-weight: 500;
  }

  .preloader {
    margin: 0;
    padding: 10px 0 15px;
    text-align: center;
    font-weight: 500;
  }
}
