@import '~antd/lib/style/themes/default.less';

.category-banner {
  position: relative;
  width: 100%;
  max-width: 628px;
  max-height: 565px;

  &-img {
    display: block;
    width: 100%;
    height: 100%;
  }

  &-info {
    position: absolute;
    top: 77%;
    left: 6.5%;
  }

  & .ant-image {
    width: 100%;
    height: 100%;
  }
}

.category-info {
  color: @white;
  font-weight: bold;
  font-size: 3vw;
  font-family: Roboto, serif;
  font-style: normal;

  &-price {
    margin-top: 8px;
    font-weight: normal;
    font-size: 2vw;
  }


}