.cloudinary {

  &__upload {
    display: inline-block;
    padding: 8px 15px;
    margin: 10px 10px 20px 0;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    background: #1890ff;
    border-color: #1890ff;
  }

  &__preloader {
    padding: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  &__avatar {
    cursor: pointer;
  }

  &__badge {
    cursor: pointer;
    margin-right: 12px;
  }

}


