.slider-heading-container {
  padding: 15px 0;

  .slider-heading {
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    font-family: Roboto;
  }
}

.slider-container {
  width: 270px;
  padding: 10px 0;

  .ant-col .ant-form-item-label {
    font-family: Roboto;
    label {
      color: #000000;
      font-size: 15px;
    }
  }

  .ant-input-number {
    border-color: #000000;

    &:hover {
      border-color: #898B8F;
    }
  }

  .ant-input-number-focused {
    box-shadow: 0 0 0 2px rgba(137, 139, 143, .2);
  }

  .ant-input-number-input-wrap {
    color: #000000;
    text-align: center;
  }

  .ant-input-number {
    width: 70px;
  }

  .ant-slider-rail {
    top: 5px;
    height: 2px;
    background-color: #898B8F;
  }

  .ant-slider-track {
    background-color: #000000;
  }

  .ant-slider:hover .ant-slider-track{
    background-color: #898B8F;
  }

  .ant-slider-handle {
    background-color: #000000;
    border: solid 2px #000000;
  }

  .ant-slider-handle:focus {
    box-shadow: 0 0 0 5px #898B8F;
  }

  .ant-slider-handle-dragging.ant-slider-handle-dragging.ant-slider-handle-dragging {
    border-color: #EFE95E;
  }

  .ant-slider-handle-clicked.ant-slider-handle-clicked.ant-slider-handle-clicked {
    border-color: #EFE95E;
  }
}

@media screen and (min-width: 586px) and (max-width: 992px){

  .slider-container .ant-row .ant-col-24{
    max-width: 75%;
  }
  .slider-container{
    width: 200px;
  }
}

@media screen and (max-width: 585px){

  .slider-heading-container .slider-heading{
    font-size: 24px;
  }
  .slider-container{
    width: 400px;

    & .ant-input-number{
      width: 100px;
    }
  }
  .slider-container .ant-col .ant-form-item-label label {
    font-size: 20px;
  }
}