.popover-basket-div button {
  display: block;
  width: 150px;
  margin: 10px auto;
}
.black-button {
  color: white;
  background-color: black;
  border: 1px black solid ;
  border-radius: 25px;
}
.black-button:hover {
  color: black;
  background-color: white;
  border: 1px black solid;
}
.yellow-button {
  color: black;
  background-color: rgba(239, 233, 94, 1);
  border: 1px rgba(239, 233, 94, 1) solid ;
  border-radius: 25px;
}
.yellow-button:hover {
  color: black;
  background-color: rgba(239, 233, 94, 1);
  border: 1px black solid;
  font-weight: bold;
}