.popover-basket-div {

}
.popover-basket-div button {
  margin: 10px auto;
  width: 150px;
  display: block;
}
.popover-order-button {
  border: 1px black solid ;
  color: white;
  background-color: black;
}
.popover-order-button:hover {
  border: 1px black solid;
  color: black;
  background-color: white;
}
.popover-goToBasket-button {
  border: 1px yellow solid ;
  color: black;
  background-color: yellow;
}
.popover-goToBasket-button:hover {
  border: 1px black solid;
  color: yellow;
  background-color: black;
}