.ant-layout.admin-products-container {

  min-height: 100vh;
  padding: 10px;
  background-color: white;

  .admin-products-content-container {
    margin-left: 210px;
    padding: 10px;
    text-align: center;
    background-color: white;
    border: 1px solid white;
    border-left-color: rgba(0,0,0,.1);

    .admin-products-list-container{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
    }

  }
}