.catalogue-wrapper {
  height: 30px;
  margin: 0 auto;

}

.catalogue-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  max-width: 400px;
  margin: auto;
  color: #f0f2f5;
  font-size: 22px;
  text-align: center;
  background: #000000;
  border: none;

  &-img {
    margin-right: 10px;
    padding: 3px;
    background: white;
    border-radius: 12px;
  }

  &-text {
    color: #FFFFFF;
  }
}

.catalogue-menu {
  position: relative;
  z-index: 100;
  width: 37vw;
  max-width: 600px;
  margin: 0 auto;
}

.catalogue-item {
  &.ant-menu-submenu > div, .ant-menu-inline .ant-menu-item {
    margin: 0;
  }
}
.catalogue-item.ant-menu-submenu, .catalogue-menu-item.ant-menu-item {
  color: #000000;
  font-size: 17px;
  background-color: lightgrey;
}
.catalogue-menu-item.ant-menu-item {
  font-size: 16px;
}
.ant-menu-item-selected {
  background-color: darkgray !important;
}
.ant-menu-submenu-arrow::before, .ant-menu-submenu-arrow::after {
  width: 8px;
  height: 2.5px;
  background-color: black;
}

.catalogue-menu-item:hover {
  background-color: darkgray;

  &.ant-menu-item a {
    color: black;
  }
}
.catalogue-menu-item {
  &.ant-menu-item-selected a {
    color: black;
  }
}

.ant-menu-inline .ant-menu-item::after {
  border-color: dimgrey;
}

.catalogue-item.ant-menu-submenu:hover > .ant-menu-submenu-title:hover {
  color: black;
  background-color: darkgray;

  & > .ant-menu-submenu-arrow {
    color: black;
  }
}

.ant-menu-submenu-open {
  color: black;
}

@media screen and (max-width: 1163px) {
  .catalogue-btn {
    width: 27vw;

  }
}

@media screen and (max-width: 988px) {
  .catalogue-menu {
    width: 27vw;
      }
}

@media screen and (max-width: 988px) and (min-width: 720px) {

  .catalogue-btn {
    width: 45vw;
    height: 38px;
    margin-left: 6.5vw;
    font-size: 20px;
  }
  .catalogue-menu{
    width: 45vw;
    margin-left: 6.7vw;
  }

  .catalogue-item.ant-menu-submenu {
    font-size: 15px;
  }
  .catalogue-menu-item.ant-menu-item {
    font-size: 14px;
  }
}

@media screen and (max-width: 719px) and (min-width: 577px) {
  .catalogue-btn {
    width: 41vw;
    height: 38px;
    margin-left: 7vw;
  }

  .catalogue-menu {
    width: 85vw;
    margin-left: 6.7vw;
  }

  .ant-menu-submenu-arrow::before, .ant-menu-submenu-arrow::after {
    width: 6px;
    height: 1.5px;
  }
}

@media screen and (max-width: 576px) {
  .ant-menu {
    background-color: transparent;
  }
  .catalogue-btn {
    width: 47vw;
    /* padding: 5px; */
    height: 38px;
    margin-left: 1vw;
  }
  .catalogue-btn-text {
    display: none;
  }
  .catalogue-btn-img {
    margin-right: 0;
  }
  .catalogue-menu {
    width: 94vw;
    margin-left: 1vw;
  }

  .ant-menu-submenu-arrow::before, .ant-menu-submenu-arrow::after {
    width: 6px;
    height: 1.5px;
  }
}
@media screen and (max-width: 375px) {
  .catalogue-item {
    & > .ant-menu-submenu-title {
      padding: 0 0 0 10px !important;
    }
  }
  .catalogue-menu-item {
    padding: 0 0 0 30px !important;
  }
}

