.breadcrumbs {
  padding: 15px 0 15px 8%;
  background: lightgrey;

  & > span > a:hover {
    color: #fadb14;
    text-shadow: 1px 1px 1px #000;
  }
}

.breadcrumb-item {
  display: inline-block;
  font-size: 16px;
}

@media screen and (max-width: 1163px) {
  .breadcrumbs {
    padding-left: 6%;
  }
}

@media screen and (max-width: 988px) {
  .breadcrumbs {
    padding-left: 14%;
  }

  .breadcrumb-item {
    font-size: 13px;
  }
}
