.checkout-steps {
  margin-top: 10px;
}

.checkout-step[disabled] {
  h3, .ant-form-item-label > label {
    color: rgba(0, 0, 0, 0.45) !important;
  }

  .ant-input:hover {
    border: 1px solid #000 !important;
  }
}