@import '~antd/lib/style/themes/default.less';

.profile {
  margin: 15px 0;

  &-btnContainer {
    margin-bottom: 10px;

    & button {
      min-width: 140px;
      min-height: 25px;
      font-size: 14px;
      padding: 0;
      margin: 4px auto;
      background-color: @black;
      color: @white;
      border: 1px solid @black;

      &:hover {
        background-color: @yellow-5;
        border: 1px solid @yellow-5;
        color: @black;
      }
    }

  }

  & .ant-btn-primary:focus {
    background-color: @yellow-5;
    border: 0.2vw solid @black;
    color: @black;
  }
}


@media (min-width: 576px) {
  .profile {
    &-btnContainer {
      margin-left: 15px;

      & button {
        min-width: 180px;
        min-height: 30px;
        font-size: 14px;
        padding: 0;
        margin: 4px 0;
      }
    }

  }
}

@media (min-width: 1199px) {
  .profile {
    margin: 5vw auto;

    & button {
      min-width: 20vw;
      min-height: 3vw;
      max-height: 5vw;
      font-size: 24px;
      margin: 1vw;

      &:hover {
        margin-left: 3vw;
      }
    }

    & .ant-btn-primary:focus {
      margin-left: 3vw;
    }
  }
}