@import '~antd/lib/style/themes/default.less';

.profile {
  margin: 15px 0;
}

.userMenuOptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 10px;

  & button {
    width: 150px;
    height: 25px;
    margin: 4px 10px;
    padding: 0;
    color: @white;
    font-size: 14px;
    background-color: @black;
    border: 1px solid @black;

    &:hover {
      color: @black;
      background-color: @yellow-5;
      border: 1px solid @yellow-5;
    }
  }

  & .selected .ant-btn-primary {
    color: @black;
    background-color: @yellow-5;
    border: 0.2vw solid @black;
  }
}


@media (min-width: 576px) {

  .userMenuOptions {
    display: block;

    & button {
      min-width: 180px;
      min-height: 30px;
      margin: 6px 0 6px 10px;
      padding: 0;
      font-size: 16px;
    }
  }
}

@media (min-width: 768px) {
  .profile {
    margin: 30px 0;
  }

  .userMenuOptions {

    & button {
      min-width: 200px;
      min-height: 35px;
      margin: 6px 0;
    }
  }

}

@media (min-width: 992px) {
  .profile {
    margin: 50px 0;
  }

  .userMenuOptions {
    & button {
      min-width: 240px;
      min-height: 45px;
      margin: 10px 0;
      font-size: 22px;

      &:hover {
        margin-left: 3vw;
      }
    }

    & .selected .ant-btn-primary {
      margin-left: 3vw;
    }
  }
}