.basket-icon {
  position: relative;
  font-size: 30px;
}
.basket-icon > svg {
  position: absolute;
  right: -4px;
  bottom: -11px;
  font-size: 30px;
}

.basket-icon {
  position: relative;
  font-size: 30px;
}
.basket-icon > svg {
  position: absolute;
  right: -4px;
  bottom: -11px;
  font-size: 30px;
}
.login{
  cursor: pointer;
}
.login-title{
  padding-left: 3px;
  font-weight: 600;
  font-size: 20px;
  vertical-align: text-bottom;
}

.header-contact>a{
  color: black;
  font-size: 18px;
}
.cart{
  max-width: 220px;
  height: 35px;
  margin: auto;
  color: black;
  font-size: 24px;
  //border: 1px solid black;
}
.img-cart{
  width: 33px;
  margin-right: 5px;
  padding-bottom: 0;
  vertical-align: sub;
}

.catalogue-btn-link{
  width: 230px;
  height: 35px;
  margin: auto;
  padding: 5px 40px;
  color: white;
  font-size: 22px;
  background: black;

}
.catalogue-btn-link:hover{
  color: white;
}
.catalogue-img{
  margin-right: 15px;
  margin-bottom: -4px;
  padding: 5px;
  background: white;
  border-radius: 12px;
}
.header-row{
  margin: -18px -12px;
}

@media (max-width: 585px ){
  .contact-number{
    display: none;
  }
  .catalogue-btn-link{
    height: 25px;
    margin: auto;
    padding: 3px 3px;
    color: white;
    font-size: 22px;
    background: black;

  }
}
@media (max-width: 767px ){

  .contact-number{
    display: none;
  }
  .logout-title{
    display: none;
  }
}
.search-box{
  margin: auto;
}
.username{
  font-weight: 600;
  font-size: 20px;
  vertical-align: text-bottom;
}

.logoutBtn{
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}


