@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&family=Roboto&display=swap');

.banners {
  width: 67%;
  margin: 0 auto;

  &-title {

    color: #000000;
    font-weight: bold;
    font-size: 45px;
    font-family: Montserrat Alternates, serif;
    font-style: normal;
    line-height: 55px;
  }

  &-wrapper {
    margin-top: 20px;
  }
}

