.cart-wrapper-div {
  display: flex;
  //justify-content: space-between;
  justify-content: center;
  padding: 5px;
}
.cart-wrapper {
  display: flex;
  flex-basis: 70%;
  flex-direction: column;
  position: relative;
  height: 320px;
  margin: 20px 20px;
  overflow: scroll;
}
.delete-from-basket-icon {
  margin-right: 40px;
}