.cart-wrapper-div {
  display: flex;
}
.cart-wrapper {
  display: flex;
  flex-basis: 80%;
  flex-direction: column;
  height: 320px;
  margin: 20px 20px;
  overflow: scroll;
}
.delete-from-basket-icon {
  margin-right: 40px;
}