.error-registration_wrapper {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  .error-registration_button {
    margin-top: 10px;
  }
  .error-registration_button {
    color: red;
  }
}
.Toastify__toast--default {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  color: white;
  background-color: #e84c3d;
  font-size: 20px;
  border-radius: 0;
  > button {
    position: absolute;
    right: 10px;
  }
  .Toastify__progress-bar--default {
    background: transparent;
  }
  .Toastify__close-button .Toastify__close-button--default {
    background: transparent;
  }
}
.success-register-toast {
  color: darkgreen;
  background-color: #EFE95E;
  border: 1px black solid;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
.absent-today-toast {
  background-color: #EFE95E;
  color: black;
}
